<%= simple_form_for(@user, html: {class: "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <div class="field">
          <%= f.label :Name, class: "col-sm-2 control-label"  %>&nbsp;
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control"  %>
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
        </div>
    
      <div class="field">
        <%= f.input :username  , label: 'Username ', error: 'Username is mandatory, please specify one' %>
      </div>
  
     
      <div class="field">
        <%= f.input :password, label: 'Password ', error: 'Password is mandatory, please specify one' %>
      </div>
      
       <div class="field">
        <%= f.input :password_confirmation, label: 'Confirm Password ', error: 'Password is mandatory, please specify one' %>
      </div>
      
      <div class="field">
        <%= f.label :Country %>&nbsp;
        <%= f.country_select :country%>
      </div>
      <div class="field">
        <%= f.label :city %>&nbsp;
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.input :dob, as: :date, label: 'D.O.B' %>
      </div>
     
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </form>
<% end %>

<
